/* COLOR VARIABLES */
// $color-primary: #087150;
$color-primary: #0b7d59;
$color-secondary: #f1ede4;
$color-text:#363636;
$color-border-dark: #a09c92;
$color-danger:#d50000;
$color-information:#8cd2e7;
$color-brown: #6c584a;
$color-gold: #ffd165;
// $color-maroon: #78373f;
// $text-for-gold:#78373f;
$color-maroon: #0b7d59;
$text-for-gold:#363636;
$bp-desktop: 1023px;
$bp-tablet: 960px;
$bp-lg-phone: 600px;
$bp-md-phone: 480px;
$bp-sm-phone: 320px;
$fancy-font:'Bitter', serif;
$normal-font: 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$sans-serif: 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
/* something wicked this way comes */

$space-double: calc(2 * 1rem);
$space-quad: calc(4 * 1rem);
$space-half: .5rem;

$border-radius-default: 6px;