/* THIS SCSS FILE IS USED TO COMPILE A CSS FILE THAT IN TURN IS USED BY THE DISCOVER CAROUSELS */ /* COLOR VARIABLES */
/* something wicked this way comes */
.tab-content {
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #0b7d59;
}

.nav-tabs {
  border-bottom: 2px solid #0b7d59;
}

.horizontal-carousel {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px;
}
.horizontal-carousel .nav-tabs > a.collectionSpotlightTabs {
  position: relative;
  display: block;
  float: left;
  margin-bottom: 0;
  margin-left: 8px;
  line-height: 40px;
  border: 1px solid #f1ede4;
  border-radius: 4px 4px 0 0;
  padding: 0 16px;
  height: 42px;
  font-size: 17.6px;
  background-color: #f1ede4;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out, border-color 300ms ease-in-out;
  color: #4a4a4a;
}
.horizontal-carousel .nav-tabs > a.collectionSpotlightTabs:first-child {
  margin-left: 0;
}
.horizontal-carousel .nav-tabs > a.collectionSpotlightTabs:hover {
  text-decoration: none;
  background-color: #f1ede4;
  color: #363636;
  border-color: #a09c92;
}
.horizontal-carousel .nav-tabs > a.collectionSpotlightTabs.active,
.horizontal-carousel .nav-tabs > a.collectionSpotlightTabs.active:hover,
.horizontal-carousel .nav-tabs > a.collectionSpotlightTabs.active:focus {
  color: #363636;
  background-color: #fff;
  border: 1px solid #a09c92;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out, border-color 300ms ease-in-out;
  border-bottom-color: transparent;
  cursor: default;
}
.horizontal-carousel a,
.horizontal-carousel a:visited,
.horizontal-carousel .result-head,
.horizontal-carousel #selected-browse-label a,
.horizontal-carousel #selected-browse-label a:visited {
  color: #0b7d59;
}
.horizontal-carousel .nav-tabs > a.collectionSpotlightTabs[aria-selected=true] {
  color: #FFF;
  background-color: #0b7d59;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.horizontalCarouselSpotlightWrapper .jcarousel-control-prev,
.moreLikeThisWrapper .jcarousel-control-prev,
.seriesWrapper .jcarousel-control-prev,
.horizontalCarouselSpotlightWrapper .jcarousel-control-next,
.moreLikeThisWrapper .jcarousel-control-next,
.seriesWrapper .jcarousel-control-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #0b7d59;
  height: 100%;
  font-size: 50px;
  box-shadow: none;
}

.horizontal-carousel .nav-tabs > a.collectionSpotlightTabs.active, .horizontal-carousel .nav-tabs > a.collectionSpotlightTabs.active:hover, .horizontal-carousel .nav-tabs > a.collectionSpotlightTabs.active:focus {
  color: #FFF;
  background-color: #0b7d59;
  border: 1px solid #0b7d59;
  border-bottom-color: transparent;
  cursor: default;
}

[role=tablist] {
  min-width: 100%;
  min-height: 40px;
}

/*# sourceMappingURL=discover_carousel.css.map */
